$fontFamily: "Source Sans Pro";
$fontFamilySecond: "Montserrat";
$textColor: #5f727f;
$width-view-content: 1170px;
$font-sizes: ("small": 14px, "normal": 16px, "medium": 19px, "large": 36px);
$font-weights: ("light": 300, "regular": 400, "bold": 700);