body {
  width: 600px;
  margin: auto;
}

.register {
  width: 520px;
  height: 440px;
  position: relative;
  top: 100px;
  border: 1px solid #757575;
  border-radius: 10px;
}

.register-intro {
  text-align: center;
  font-size: 24px;
  padding-left: 0;
}

form[name="register-form"] {
  padding: 0 60px;
  
}

input {
  width: 400px;
  height: 36px;
  border: 1px solid #757575;
  border-radius: 5px;
  padding-left: 16px;
  box-sizing: border-box;
}

input:focus {
  outline: none !important;
  border: 2px solid #1a73e8;
}

input.wrong-input {
  outline: none !important;
  border: 2px solid red;
}

form p {
  font-size: 12px;
  color: #757575;
  margin-top: 8px;
}

p.wrong-input {
  color: red;
  visibility: visible;
}

p.right-input {
  visibility: hidden;
}

input[type=submit] {
  width: 100px;
  height: 36px;
  margin-top: 30px;
  position: relative;
  left: 150px;
  border: 1px solid #1a73e8;
  border-radius: 5px;
  background-color: #1a73e8;
  color: #fff;
  padding: 0;
}

input[type=submit]:disabled {
  opacity: 0.5;
} 